:root {
  --primary-color: #84A4FC;
  --secondary-color: #f942ff;
  --tertiary-color: #0044e2;
  --border-color: #1463F3;
  --background-color: #1D2023;
  --text-color: #ffffff;
  --text-color-dim: #b3b3b3;
}

.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.terriary-color {
  color: var(--tertiary-color);
}
.border-color { 
  color: var(--border-color);
}
.background-color {
  color: var(--background-color);
}
.text-color {
  color: var(--text-color);
}
.text-color-dim {
  color: var(--text-color-dim);
}

 

body {
  background: var(--background-color);
  font-family: 'Inter';
  font-size: 22px;
}

h2{
  color: white;
  font-size: large;
  font-weight: 700;
}

p{
  color:#ffffff;
  font-weight: 400;
}


li::before{
  content: ">";
  color: var(--primary-color);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}








.resume-nav{
  display: flex;
  flex-direction: column;
  
  opacity: 0;
  padding:20px;
  position:relative;
  -webkit-animation: slide-left 1s forwards;
  animation: slide-left 1s forwards;
  animation-timing-function: ease-out;
}


 

 





.menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  top: 5vh;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ff69b4;
  align-self: center;

  border-radius: 100px;
  gap: .5em;
  width: 350px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  cursor: pointer;
}

.menu-bar-button{
  display: flex;
  padding: .5rem 1rem;
  border-radius: 100px;
  transition-duration: .2s;
  background: transparent;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ff69b4;
  text-transform: uppercase;
  font-size: .9rem;
  z-index: 999;
}




  .introduction-home-container{
     margin: 5%;
     height: 60%;
  }


  .card {
  width:80%;
  height:90%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  border-radius: 8px;
  z-index: 1;
  }

  .canvas-container {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    align-self: center;
    justify-self: center;

}
  .canvas-style {
    display: block;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    max-width: 100%;
    border: 1px solid grey;
     
}
  .tools {
  display: flex;
  align-items: center;
  padding: 9px;
  }

  .file-bar{
    padding: 9px;
    display: flex;
  }
  .file-item{
    margin: 4px;
    font-size: x-small;
  
}
.file-div{
  color: var(--primary-color);
 }
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }


 .skill-card {
  width: 300px;
  height: 100px;
  perspective: 1000px;
}

.skill-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.skill-card:hover .skill-card-inner {
  transform: rotateY(180deg);
}

.skill-card-front,
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.skill-card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.skill-card-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

 
 