body {
  background: #121212;
  font-family: 'Inter';
  font-size: 22px;
}

span {
  color: white;
  font-weight: 600;
}


.gradient-fill {
  background: linear-gradient(90deg, #ffcd38, #ff69b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide {
  to{
    opacity: 1;
    box-shadow: 0 0 10px 3px #ff69b4;
    top: 0%;
  }
  
}

.card-glow-outline{
  box-shadow: 0 0 0px 0px #ffcd38;
  border-radius: 10px;
  top: 50%;
  background: black;
  padding: 20px;
  margin: 20px;
  opacity:0;
  -webkit-animation: slide 1s forwards;
  transition-timing-function: ease-in;
}


.resume-nav{
  display: flex;
  flex-direction: column;
  padding:20px;
}


@keyframes anim-ss { 0% {background-position: 0%;} 100% {background-position: 100%;} }

.resume-role{
  font-weight: 600;
  color:#ffffff;
  font-size:medium;
}

.resume-company{
  font-weight: 600;
  font-size: smaller;
  color:#b266ff;
  align-self:left;

}

.resume-date{
  font-weight: 400;
  font-size: smaller;
  color:#ff69b4;
}


.resume-job{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.resume-job:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 5vh;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  align-self: center;
  padding: 3px;
  border-radius: 100px;
  gap: .5em;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  pointer-events: auto;
}

.menu-bar-button{
  display: flex;
  padding: .5rem 1rem;
  border-radius: 100px;
  transition-duration: .2s;
  background: transparent;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ff69b4;
  text-transform: uppercase;
  font-size: .9rem;
  z-index: 999;
}