
package templates;

templ FrontPageCard(title string, body string){
    <div class="card-glow-outline relative flex flex-col my-6 rounded-lg">
        <div class="mx-3 mb-0 border-b pt-3 pb-2 px-1 text-white">
            @templ.Raw(title)
        </div>
        <div class="p-4 text-white">
            @templ.Raw(body)
        </div>
    </div>
}
